    <nav class="navbar">
      <a href="/" class="logo"><img src="https://cdn.discordapp.com/attachments/726388631664852992/1140673734596894871/-1.png" width="45" height="45"></a>
      <input type="checkbox" id="toggler">
      <label for="toggler"><i style="font-size: 20px; color: var(--font-color);" class="fa-solid fa-bars"></i></label>
      <div class="menu">
        <ul class="list">
          <li><a href="/">Home</a></li>
          <li><a href="/uptime">Uptime</a></li>
          <li><a href="/discord">Discord</a></li>
		  <% if(user) { %>
		  <li><a href="/dashboard">Dashboard</a></li>
		  <% } else { %>
		  <li><a href="/login">Login</a></li>
		  <% } %>
		  </ul>
      </div>
    </nav>

<script src="script.js"></script>